USE [master]
GO
/****** Object:  Database [NhaHang]    Script Date: 12/19/2025 8:19:11 PM ******/
CREATE DATABASE [NhaHang]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NhaHang', FILENAME = N'C:\Program Files\MSSQL16.MSSQLSERVER\MSSQL\DATA\NhaHang.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NhaHang_log', FILENAME = N'C:\Program Files\MSSQL16.MSSQLSERVER\MSSQL\DATA\NhaHang_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NhaHang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NhaHang]
GO
/****** Object:  Table [dbo].[Ban]    Script Date: 12/19/2025 8:19:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ban](
	[maBan] [varchar](10) NOT NULL,
	[viTri] [nvarchar](50) NULL,
	[sucChua] [int] NULL,
	[loaiBan] [nvarchar](20) NULL,
	[trangThai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[maBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CaTruc]    Script Date: 12/19/2025 8:19:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaTruc](
	[maCa] [varchar](10) NOT NULL,
	[ngay] [date] NULL,
	[gioBatDau] [time](7) NULL,
	[gioKetThuc] [time](7) NULL,
	[maNV] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[maCa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 12/19/2025 8:19:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[maHD] [varchar](10) NOT NULL,
	[maMon] [varchar](10) NOT NULL,
	[soLuong] [int] NULL,
	[thanhTien] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[maHD] ASC,
	[maMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMucMon]    Script Date: 12/19/2025 8:19:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucMon](
	[maDM] [varchar](10) NOT NULL,
	[tenDM] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[maDM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 12/19/2025 8:19:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[maHD] [varchar](10) NOT NULL,
	[ngayLap] [datetime] NULL,
	[maUuDai] [varchar](10) NULL,
	[ptThanhToan] [nvarchar](20) NULL,
	[trangThai] [nvarchar](20) NULL,
	[gioVao] [datetime] NULL,
	[gioRa] [datetime] NULL,
	[maBan] [varchar](10) NULL,
	[maNV] [varchar](10) NULL,
	[maKH] [varchar](10) NULL,
	[tienCoc] [decimal](18, 2) NULL,
	[maHDGoc] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[maHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 12/19/2025 8:19:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[maKH] [varchar](10) NOT NULL,
	[tenKH] [nvarchar](50) NULL,
	[soDT] [varchar](15) NULL,
	[email] [nvarchar](50) NULL,
	[ngayDangKy] [date] NULL,
	[thanhVien] [nvarchar](20) NULL,
	[diaChi] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[maKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonAn]    Script Date: 12/19/2025 8:19:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonAn](
	[maMon] [varchar](10) NOT NULL,
	[tenMon] [nvarchar](100) NULL,
	[hinhAnh] [varbinary](max) NULL,
	[giaBan] [decimal](18, 2) NULL,
	[maDM] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[maMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 12/19/2025 8:19:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[maNV] [varchar](10) NOT NULL,
	[tenNV] [nvarchar](50) NULL,
	[soDT] [varchar](15) NULL,
	[email] [nvarchar](50) NULL,
	[ngaySinh] [date] NULL,
	[diaChi] [nvarchar](100) NULL,
	[gioiTinh] [bit] NULL,
	[trangThai] [bit] NULL,
	[hinhAnh] [varbinary](max) NULL,
	[caLamYeuThich] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[maNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 12/19/2025 8:19:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[tenDangNhap] [varchar](30) NOT NULL,
	[matKhau] [nvarchar](100) NULL,
	[vaiTro] [nvarchar](20) NULL,
	[maNV] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[tenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UuDai]    Script Date: 12/19/2025 8:19:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UuDai](
	[maUuDai] [varchar](10) NOT NULL,
	[tenUuDai] [nvarchar](50) NULL,
	[moTa] [nvarchar](255) NULL,
	[giaTri] [decimal](18, 2) NULL,
	[ngayBatDau] [date] NULL,
	[ngayKetThuc] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[maUuDai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Ban] ([maBan], [viTri], [sucChua], [loaiBan], [trangThai]) VALUES (N'B001', N'Tầng trệt', 2, N'TANG_TRET', N'Trong')
INSERT [dbo].[Ban] ([maBan], [viTri], [sucChua], [loaiBan], [trangThai]) VALUES (N'B002', N'Tầng trệt', 2, N'TANG_TRET', N'Dat')
INSERT [dbo].[Ban] ([maBan], [viTri], [sucChua], [loaiBan], [trangThai]) VALUES (N'B003', N'Tầng trệt', 8, N'TANG_TRET', N'Trong')
GO
INSERT [dbo].[CaTruc] ([maCa], [ngay], [gioBatDau], [gioKetThuc], [maNV]) VALUES (N'CA001', CAST(N'2025-10-01' AS Date), CAST(N'08:00:00' AS Time), CAST(N'14:00:00' AS Time), N'NV001')
INSERT [dbo].[CaTruc] ([maCa], [ngay], [gioBatDau], [gioKetThuc], [maNV]) VALUES (N'CA002', CAST(N'2025-10-01' AS Date), CAST(N'14:00:00' AS Time), CAST(N'22:00:00' AS Time), N'NV002')
INSERT [dbo].[CaTruc] ([maCa], [ngay], [gioBatDau], [gioKetThuc], [maNV]) VALUES (N'CA003', CAST(N'2025-10-01' AS Date), CAST(N'18:00:00' AS Time), CAST(N'02:00:00' AS Time), N'NV003')
GO
INSERT [dbo].[ChiTietHoaDon] ([maHD], [maMon], [soLuong], [thanhTien]) VALUES (N'HD001', N'M001', 1, CAST(120000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietHoaDon] ([maHD], [maMon], [soLuong], [thanhTien]) VALUES (N'HD001', N'M015', 2, CAST(100000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietHoaDon] ([maHD], [maMon], [soLuong], [thanhTien]) VALUES (N'HD001', N'M027', 4, CAST(100000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[DanhMucMon] ([maDM], [tenDM]) VALUES (N'DM001', N'Khai vị')
INSERT [dbo].[DanhMucMon] ([maDM], [tenDM]) VALUES (N'DM002', N'Nướng')
INSERT [dbo].[DanhMucMon] ([maDM], [tenDM]) VALUES (N'DM003', N'Lẩu')
GO
INSERT [dbo].[HoaDon] ([maHD], [ngayLap], [maUuDai], [ptThanhToan], [trangThai], [gioVao], [gioRa], [maBan], [maNV], [maKH], [tienCoc], [maHDGoc]) VALUES (N'HD001', CAST(N'2025-10-20T19:30:00.000' AS DateTime), NULL, N'ViDienTu', N'DaThanhToan', CAST(N'2025-10-20T18:00:00.000' AS DateTime), CAST(N'2025-10-20T19:30:00.000' AS DateTime), N'B001', N'NV003', N'KH001', CAST(0.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[HoaDon] ([maHD], [ngayLap], [maUuDai], [ptThanhToan], [trangThai], [gioVao], [gioRa], [maBan], [maNV], [maKH], [tienCoc], [maHDGoc]) VALUES (N'HD002', CAST(N'2025-10-20T21:00:00.000' AS DateTime), N'UD001', N'NganHang', N'DaThanhToan', CAST(N'2025-10-20T19:30:00.000' AS DateTime), CAST(N'2025-10-20T21:00:00.000' AS DateTime), N'B005', N'NV004', N'KH002', CAST(0.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[HoaDon] ([maHD], [ngayLap], [maUuDai], [ptThanhToan], [trangThai], [gioVao], [gioRa], [maBan], [maNV], [maKH], [tienCoc], [maHDGoc]) VALUES (N'HD003', CAST(N'2025-10-21T12:15:00.000' AS DateTime), N'UD002', N'ViDienTu', N'DaThanhToan', CAST(N'2025-10-21T11:00:00.000' AS DateTime), CAST(N'2025-10-21T12:15:00.000' AS DateTime), N'B008', N'NV003', N'KH003', CAST(0.00 AS Decimal(18, 2)), NULL)
GO
INSERT [dbo].[KhachHang] ([maKH], [tenKH], [soDT], [email], [ngayDangKy], [thanhVien], [diaChi]) VALUES (N'KH001', N'Nguyễn Thị Hồng', N'0912345678', N'hong.nguyen@example.com', CAST(N'2024-12-15' AS Date), N'Member', N'Quận 1, TP.HCM')
INSERT [dbo].[KhachHang] ([maKH], [tenKH], [soDT], [email], [ngayDangKy], [thanhVien], [diaChi]) VALUES (N'KH002', N'Lê Văn Nam', N'0987654321', N'tranhoangnam.hvt@gmail.com', CAST(N'2023-07-20' AS Date), N'Member', N'Bình Thạnh, TP.HCM')
INSERT [dbo].[KhachHang] ([maKH], [tenKH], [soDT], [email], [ngayDangKy], [thanhVien], [diaChi]) VALUES (N'KH003', N'Dương Gia Minh Béo', N'0933555777', N'dgm12341@gmail.com', CAST(N'2025-01-10' AS Date), N'Member', N'Gò Vấp, TP.HCM')
GO
INSERT [dbo].[NhanVien] ([maNV], [tenNV], [soDT], [email], [ngaySinh], [diaChi], [gioiTinh], [trangThai], [hinhAnh], [caLamYeuThich]) VALUES (N'NV000', N'Administrator', N'0900000000', N'admin@restaurant.vn', CAST(N'1990-01-01' AS Date), N'TP.HCM', 1, 1, NULL, N'Nguyên ngày')
INSERT [dbo].[NhanVien] ([maNV], [tenNV], [soDT], [email], [ngaySinh], [diaChi], [gioiTinh], [trangThai], [hinhAnh], [caLamYeuThich]) VALUES (N'NV001', N'Lê Công Chung', N'0901111222', NULL, CAST(N'2001-01-26' AS Date), NULL, 0, 1, NULL, N'Nguyên ngày')
INSERT [dbo].[NhanVien] ([maNV], [tenNV], [soDT], [email], [ngaySinh], [diaChi], [gioiTinh], [trangThai], [hinhAnh], [caLamYeuThich]) VALUES (N'NV002', N'Lê Hoài Phước Mãi', N'0903333444', NULL, CAST(N'2002-07-20' AS Date), NULL, 0, 1, NULL, N'Sáng')
GO
INSERT [dbo].[TaiKhoan] ([tenDangNhap], [matKhau], [vaiTro], [maNV]) VALUES (N'admin', N'admin123', N'Admin', N'NV000')
INSERT [dbo].[TaiKhoan] ([tenDangNhap], [matKhau], [vaiTro], [maNV]) VALUES (N'nv001', N'123', N'Quản lý', N'NV001')
INSERT [dbo].[TaiKhoan] ([tenDangNhap], [matKhau], [vaiTro], [maNV]) VALUES (N'nv002', N'123', N'Quản lý', N'NV002')
GO
INSERT [dbo].[UuDai] ([maUuDai], [tenUuDai], [moTa], [giaTri], [ngayBatDau], [ngayKetThuc]) VALUES (N'UD001', N'Giảm 10% hóa đơn thành viên Gold/Diamond', N'Giảm 10% cho hóa đơn > 200.000 VND (Gold), hoặc 15% cho hóa đơn bất kì (Diamond)', CAST(10.00 AS Decimal(18, 2)), CAST(N'2025-10-01' AS Date), CAST(N'2025-12-31' AS Date))
INSERT [dbo].[UuDai] ([maUuDai], [tenUuDai], [moTa], [giaTri], [ngayBatDau], [ngayKetThuc]) VALUES (N'UD002', N'Tặng món tráng miệng', N'Cho đơn từ 500.000đ trở lên', CAST(0.00 AS Decimal(18, 2)), CAST(N'2025-09-01' AS Date), CAST(N'2025-11-30' AS Date))
INSERT [dbo].[UuDai] ([maUuDai], [tenUuDai], [moTa], [giaTri], [ngayBatDau], [ngayKetThuc]) VALUES (N'UD003', N'Giảm giá 20% mừng tháng mới', N'Giảm 20% cho tất cả đơn hàng từ 200.000 VND', CAST(20.00 AS Decimal(18, 2)), CAST(N'2025-11-01' AS Date), CAST(N'2025-11-30' AS Date))
GO
ALTER TABLE [dbo].[CaTruc]  WITH CHECK ADD  CONSTRAINT [FK_CaTruc_NhanVien] FOREIGN KEY([maNV])
REFERENCES [dbo].[NhanVien] ([maNV])
GO
ALTER TABLE [dbo].[CaTruc] CHECK CONSTRAINT [FK_CaTruc_NhanVien]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_HoaDon] FOREIGN KEY([maHD])
REFERENCES [dbo].[HoaDon] ([maHD])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_CTHD_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_MonAn] FOREIGN KEY([maMon])
REFERENCES [dbo].[MonAn] ([maMon])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_CTHD_MonAn]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_Ban] FOREIGN KEY([maBan])
REFERENCES [dbo].[Ban] ([maBan])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_Ban]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([maKH])
REFERENCES [dbo].[KhachHang] ([maKH])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([maNV])
REFERENCES [dbo].[NhanVien] ([maNV])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_UuDai] FOREIGN KEY([maUuDai])
REFERENCES [dbo].[UuDai] ([maUuDai])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_UuDai]
GO
ALTER TABLE [dbo].[MonAn]  WITH CHECK ADD  CONSTRAINT [FK_MonAn_DanhMuc] FOREIGN KEY([maDM])
REFERENCES [dbo].[DanhMucMon] ([maDM])
GO
ALTER TABLE [dbo].[MonAn] CHECK CONSTRAINT [FK_MonAn_DanhMuc]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_NhanVien] FOREIGN KEY([maNV])
REFERENCES [dbo].[NhanVien] ([maNV])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_NhanVien]
GO
USE [master]
GO
